%li.chat-messages__message
  .chat-messages__message__header
    %p.chat-messages__message__header--name
      = message.user.name
    %p.chat-messages__message__header--time
      = message_date(message)
  %p.chat-messages__message__header--picture
    = image_tag message.image
  %p.chat-messages__message__content
    = message.body
