.flash-notice{
    background-color: #38aef0;
    height: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 200;
    text-align: center;
}

.flash-alert{
    background-color: #d65f4c;
    height: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 200;
    text-align: center;
}
